webdriver-manager
streamlit
Pillow
google-api-python-client
seleniumbase
xlsxwriter
pandas
selenium
pyvirtualdisplay
google-cloud-aiplatform 
google-cloud-vision
google-cloud-storage 
google-cloud-translate 
google-cloud-automl
vertexai
#seleniumbase
webdriver-manager
#chromedriver-binary